@import url(footer.css);
@import url(resultado.css);
@import url(short-area.css);
@import url(description.css);
@import url(header.css);

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    background-color: #F2F2F2;
}

@media screen and (min-width: 920px){
    body {
        max-width: 920px;
        margin: 0 auto;
    }
    .header__menu {
        display: none;
    }
}